.popup {
  display: flex;
  justify-content: center;

  &__error {
    color: #ff0000;
    font-size: 14px;
    margin-bottom: 10px;
  }

  &__title {
    h2 {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 48px;
      padding: 20px 55px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__input {
    margin-bottom: 10px;
  }

  &__btnClose {
    align-self: flex-end;
    width: 40px;
    height: 40px;
  }

  &__btn {
    span {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 1080px) {
  .popup__title {
    h2 {
      padding: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .popup__title {
    h2 {
      font-size: 24px;
    }
  }

  .popup__btn {
    span {
      font-size: 8px;
    }
  }

  .popup__input {
    margin-bottom: 10px;
    div {
      font-size: 0.3rem;
    }

    label {
      font-size: 0.5rem;
    }
  }

  .popup__btnClose {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 380px) {
  .popup__title {
    h2 {
      font-size: 18px;
    }
  }

  .popup__btnClose {
    width: 25px;
    height: 25px;
  }

  .popup__input {
    margin-bottom: 13px;
    div {
      font-size: 0.3rem;
    }
  }
}
